.score-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.addTodoBtn {
    border-radius: 50%;
    padding: 5px 6px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.default-input {
    padding: 5px 10px;
    outline: none;
}

.default-input:focus {
    border: 3px solid black;
}

.addTodoBtn:hover {
    transform: scale(1.2);  /*1.2배 확대*/  
    transition: .5s; /*부드럽게*/
}

#list-box {
    height: 300px;
    overflow-y: scroll;
}

#list-box li {
    cursor: pointer;
    padding: 15px;
}